@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.crono {
    display: flex;
    flex-direction: row;
    background: black;
    justify-content: center;

}

.primero  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
   // background: rgb(37, 37, 37);
    //border-radius: 10px;
};
.segundo  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
   // background: rgb(37, 37, 37);
    //border-radius: 10px;
};
.tercero  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
   // background: rgb(37, 37, 37);
   // border-radius: 10px;
};
.cuarto  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
    background: rgb(37, 37, 37);
    border-radius: 10px;
    width: 50px;
};
.quinto  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
    background: rgb(37, 37, 37);
    border-radius: 10px;
    width: 50px;
};
.sexto  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
    background: rgb(37, 37, 37);
    border-radius: 10px;
    width: 50px;
};
.slash1  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
   // background: rgb(37, 37, 37);
    //border-radius: 10px;
}
.slash2  {
	font-size: xx-large;
    color: white;
    padding: 10px;
    margin: 5px;
   // background: rgb(37, 37, 37);
    //border-radius: 10px;
}